# Conexión a tu base de datos PostgreSQL local
# Reemplaza 'usuario', 'contraseña' y 'nombre_bd' con tus datos de pgAdmin4
# Ejemplo: postgresql://postgres:mi_password@localhost:5432/ascont_db?schema=public
DATABASE_URL="postgresql://postgres:1234@localhost:5432/TI?schema=public"

# Auth.js / NextAuth
# Genera un secreto aleatorio ejecutando en la terminal: npx auth secret
AUTH_SECRET="52a9694adc05a136c9fff211b4a6c851cb7e47ca077bc0a68c0fea9f003f6df0"
